.App {
  text-align: center;
  font-family: 'Nunita Sans',sans-serif;
}

a {
  text-decoration: none;
}

/* .map{
  height: 300px;
  width: 300px;
} */

h4{
  font-weight: normal;
}

body {
  margin: 0;
}